@import url('./common.css');

.event-page{
    background: #EEE;
}

.event-page .navbar {
    background: white;
    padding: 20px;
    margin: 0;
}


.event-page .navbar .search-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar .add-btn{
    margin-right: 30px;
    width: 400px;
}



/* event navbarre  */



.event-menu .ctrl-button a{
    border: none;
    padding: 24px 50px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);  
}

.event-menu .ctrl-button a:hover{
    color: white;
}


/*   evenements   */



.events{
    background: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid var(--tertiary-color);
    margin-top: 45px;
    border-radius: 10px;
    padding: 15px;
}

.events #titre{
    color: white;
    margin-left:  34px;
}



.event-container{
    padding: 28px;
    align-self: center;

}

.event-card{
    width: 300px;
    height: 180px;
    padding: 6px;
    color: var(--primary-color);
    border-radius: 10px;
    margin: 24px;
    transition: .5s;
}

.event-card:hover{
    transform: scale(0.95);
}

.event-card .poster{
    width: 100%;
    height: 140px;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
    border-radius: 8px;
    cursor: pointer;
}

.carde-body{
    margin: 4px 6px;
    display: flex;
    justify-content: space-between;
}

.carde-body item{
    display: flex;
    gap: 3px;
}




/*  Details Events  */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.event-menu{
    background:var(--textField-color);
    height: 97vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid var(--tertiary-color);
    padding: 0 24px;

}

.event-menu .titre{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.event-menu .titre h4{
    color: #fff;
    margin-left: 8px;
}


.event-visual{
  overflow-y: auto;
  width: 70%;
  height: 100vh;
  padding: 16px;
  scrollbar-width: none;
  scrollbar-color: var(--secondary-color);  
}

.event-visual .navbarrre{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    padding: 4px 8px;
}

.event-visual #searchInput{
    margin-top: 25px;
    width: 500px;
}
