@import url('./common.css');

.event-page{
    background: #EEE;
}

.event-page .navbar {
    background: white;
    padding: 20px;
    margin: 0;
}


.event-page .navbar .search-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar .add-btn{
    margin-right: 30px;
    width: 400px;
}




/*   evenements   */



.events{
    background: var(--primary-color);
    margin-top: 135px;
    border-radius: 10px;
    padding: 15px;
}

.events #titre{
    color: white;
    margin-left:  34px;
}



.event-container{
    padding: 28px;
}

.event-card{
    width: 300px;
    height: 180px;
    background:var(--primary-color);
    padding: 6px;
    color: white;
    border-radius: 10px;
    margin: 24px;
    transition: .5s;
}

.event-card:hover{
    transform: scale(0.95);
}

.event-card .poster{
    width: 100%;
    height: 110px;
    background: var(--special-color);
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgba(40, 158, 255, 0.384);
}

.carde-body{
    margin: 4px 6px;
    display: flex;
    justify-content: space-between;
}

.carde-body item{
    display: flex;
    gap: 3px;
}




/*  Details Events  */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.event-menu{
    background:var(--textField-color);
    height: 97vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid var(--tertiary-color);
    padding: 0 24px;

}

.event-menu .titre{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background: var(--special-color);
    display: flex;
    align-items: end;

}

.event-menu .titre h4{
    color: #fff;
    margin-left: 8px;
}


.event-visual{
  overflow-y: auto;
  width: 70%;
  height: 100vh;
  padding: 16px;
  scrollbar-width: none;
  scrollbar-color: var(--secondary-color);  
}

.event-visual .navbarrre{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    padding: 14px 8px;
}

.event-visual #searchParticipant{
    width: 500px;
}
