{% extends "base.html" %} {% block title %} Mes événements {% endblock %}

{% block content %}
    <article class="display">



        <section class="column-large event-visual">

            <nav class="navbarrre">

                

                <label for="search"><h5>Rechercher par: </h5></label>
                <input type="text" name="search" id="searchParticipant" class="form-control" placeholder="Id ou Nom du participant...">
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter participant</button>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" style="margin: 0px 12px;">CSV <span class="bi bi-filetype-csv"></span></button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Excel <span class="bi bi-file-earmark-excel"></span></button>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <form class="form-control needs-validation" novalidate>
                            
                                <label for="validationCustom01" class="form-label">Nom Complet</label>
                                <input type="text" class="form-control" id="validationCustom01" required>
                                <div class="invalid-feedback">
                                  Entrer le nom et prenom du participant !
                                </div>
                              
                                <br>
                          
                                <label for="validationCustom02" class="form-label">Email </label>
                                <input type="text" class="form-control" id="validationCustom02" required>
                                <div class="invalid-feedback">
                                  Entrer l'email du participant !
                                </div>
                              
                              <br>

                                <label for="validationCustom02" class="form-label">Titre de l'article </label>
                                <input type="text" class="form-control" id="validationCustom02" required>
                                <div class="invalid-feedback">
                                    Entrer le titre de l'article !
                                </div>
                                
                              
                                <br><br>
                              <div class="col-12">
                                <button class="btn btn-primary" type="submit">Ajouter</button>
                              </div>
  
                            </form>


                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        
                        </div>
                    </div>
                    </div>
                </div>


                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Générer
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un modèle d'attestation...</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                            <div class="template-grid"></div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-success">Générer les attestations</button>
                        </div>
                    </div>
                    </div>
                </div>


            </nav>

            <br><br>
            <table>
                <tr>
                  <th>ID</th>
                  <th>Nom & Prénom</th>
                  <th>Email</th>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                  <td>Technologie numerique de demain </td>
                  <td>
                    <button class="btn btn-primary"><span class="bi bi-pencil-square"></span></button>
                    <button class="btn btn-danger"><span class="bi bi-trash"></span></button>
                </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                  <td>Technologie numerique de demain </td>
                  <td>
                    <button class="btn btn-primary"><span class="bi bi-pencil-square"></span></button>
                    <button class="btn btn-danger"><span class="bi bi-trash"></span></button>
                </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Roland Mendel</td>
                  <td>Austria</td>
                  <td>Technologie numerique de demain </td>
                  <td>
                    <button class="btn btn-primary"><span class="bi bi-pencil-square"></span></button>
                    <button class="btn btn-danger"><span class="bi bi-trash"></span></button>
                </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Helen Bennett</td>
                  <td>UK</td>
                  <td>Technologie numerique de demain </td>
                  <td>
                    <button class="btn btn-primary"><span class="bi bi-pencil-square"></span></button>
                    <button class="btn btn-danger"><span class="bi bi-trash"></span></button>
                </td>
                </tr>

              </table>
        </section>


        <section class="col-3 event-menu">
            <br>

            <div class="titre">
                <h4>{{ evenement.nom }}</h4>
            </div>

            <br>

            <div>
                <p>date début</p>
                <h4>{{ evenement.date_deb }}</h4>
            </div>

            <br>

            <div>
                <p>date fin</p>
                <h4>{{ evenement.date_fin }}</h4>
            </div>

            <br>


            <a href="{{ url_for('routes.edit_event', id=evenement.id) }}" class="btn btn-primary">Modifier <span class="bi bi-pencil-square"></span></a>
            <br>
            

            <form method="POST" action="{{ url_for('routes.events', id=evenement.id) }}">
           
            <button type="submit" class="btn btn-warning" 
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement?')">
                Supprimer l'événement <span class="bi bi-trash"></span>
            </button>
          </form>

            <br>
            <a href="/dashboard"><span class="bi bi-arrow-left"></span> Retour Tableau de bord</a>

        </section> 
   

</article>

{% endblock %}
    
