{% extends "base.html" %} {% block title %} Mes événements {% endblock %}

{% block content %}
    <article class="display">



        <section class="column-large event-visual">

            <nav class="navbarrre">

                
                <!--   RECHERCHE DE PARTICIPANTS       -->
  
                <div class="search-container mb-4">
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" placeholder="Rechercher par nom ou ID..." data-event-id="{{ evenement.id }}">
                    </div>

                    <!-- Résultats de recherche -->
                    <div id="searchResults" class="mt-3" style="display: none;">
                        <ul id="resultList" class="list-group">
                            <!-- Les résultats s'afficheront ici en JS -->
                        </ul>
                    </div>
                </div>

                

                <!--   Excel & CSV DE PARTICIPANTS       -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    <i class="bi bi-upload"></i> Importer 
                </button>
        
                <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadModalLabel">Importer des participants</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ url_for('routes.upload_participants', event_id=evenement.id) }}" enctype="multipart/form-data">
                                  
                                    
                                    <div class="mb-3">
                                        <label for="participantFile" class="form-label">Sélectionnez un fichier (CSV ou Excel)</label>
                                        <input class="form-control" type="file" id="participantFile" name="file" accept=".csv,.xlsx" required>
                                        <div class="form-text">
                                            Le fichier doit contenir les colonnes: nom, email, titre_article
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!--   AJOUTER  DE PARTICIPANTS       -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter participant</button>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5>Ajouter un participant</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <form class="form-control needs-validation" method="POST" action="{{ url_for('routes.events', id=evenement.id) }}" novalidate>
                                <input type="hidden" name="add_participant" value="1">

                                <label for="validationCustom01" class="form-label">Nom Complet</label>
                                <input type="text" class="form-control" name="nom" id="validationCustom01" required>
                                <div class="invalid-feedback">
                                  Entrer le nom et prenom du participant !
                                </div>
                              
                                <br>
                          
                                <label for="validationCustom02" class="form-label">Email </label>
                                <input type="text" class="form-control" name="email" id="validationCustom02" required>
                                <div class="invalid-feedback">
                                  Entrer l'email du participant !
                                </div>
                              
                              <br>

                                <label for="validationCustom02" class="form-label">Titre de l'article </label>
                                <input type="text" class="form-control" name="titre_article" id="validationCustom02" required>
                                <div class="invalid-feedback">
                                    Entrer le titre de l'article !
                                </div>
                                
                              
                                <br><br>
                              <div class="col-12">
                                <button class="btn btn-primary" name="submit" type="submit">Ajouter</button>
                              </div>
  
                            </form>


                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        
                        </div>
                    </div>
                    </div>
                </div>



                <!--   GeneRER CERTIFICATS     -->

                <a href="{{ url_for('routes.generate', event_id=evenement.id) }}" type="button" class="btn btn-success">Générer</a>
                
            </nav>



            <!--   liste DE PARTICIPANTS       -->
            <br><br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nom & Prénom</th>
                    <th>Email</th>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
                {% for participant in participants %}
                <tr>
                    <td>{{ participant.id }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.titre_article }}</td>
                    <td>
                        <a href="{{ url_for('routes.edit_participant', id=participant.id) }}" 
                          class="btn btn-primary btn-sm">
                          <span class="bi bi-pencil-square"></span>
                        </a>
                        
                        <form method="POST" action="{{ url_for('routes.events', id=evenement.id) }}" style="display:inline;">
                      
                            <input type="hidden" name="delete_participant" value="1">
                            <input type="hidden" name="participant_id" value="{{ participant.id }}">
                      
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Supprimer ce participant?')">
                                <span class="bi bi-trash"></span>
                            </button>

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>

        </section>



        <!--   menuNAVIGUER       -->

        <section class="col-3 event-menu">
            <br>

            <div class="titre">
                <h4>{{ evenement.nom }}</h4>
                <p style="color:white; font-size: 14px;">
                <i class="bi bi-people" ></i> {{ participant_count }} participants
            </p>
            </div>
         
            <br>
            <div>
                <p>lieu</p>
                <h4>{{ evenement.lieu }}</h4>
            </div>
            <br>
            <div>
                <p>date début</p>
                <h4>{{ evenement.date_deb }}</h4>
            </div>
            <br>
            <div>
                <p>date fin</p>
                <h4>{{ evenement.date_fin }}</h4>
            </div>

            <br>


            <a href="{{ url_for('routes.edit_event', id=evenement.id) }}" class="btn btn-primary">Modifier <span class="bi bi-pencil-square"></span></a>
            <br>
            

            <form method="POST" action="{{ url_for('routes.events', id=evenement.id) }}">
              <input type="hidden" name="delete_evenement" value="1">

              <button type="submit" class="btn btn-warning" 
                      onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement?')">
                  Supprimer l'événement <span class="bi bi-trash"></span>
              
                </button>
          
            </form>

            <br>


            <button class="btn btn-outline-primary ctrl-button">
                <a href="{{url_for('routes.certificate_gallery', event_id=evenement.id)}}">
                    <span class="bi bi-patch-check"></span>
                    Mes attestations
                </a>
            </button>
            <button class="btn btn-outline-primary ctrl-button" style="margin: 15px 0px;">
                <a href="/dashboard">
                    <span class="bi bi-chevron-left"></span>
                    Retour Tableau de bord
                    </a>
            </button>



        </section> 
   

</article>

<!--Script javascript de recherche participant-->
    <script>
    document.getElementById("searchInput").addEventListener("input", function () {
        const query = this.value.trim();
        const eventId = this.dataset.eventId;

        if (query.length < 1) {
            document.getElementById("searchResults").style.display = "none";
            return;
        }

        fetch(`/search_participant/${eventId}?query=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                const resultList = document.getElementById("resultList");
                resultList.innerHTML = "";

                if (data.length === 0) {
                    resultList.innerHTML = "<li class='list-group-item text-danger'>Aucun participant trouvé.</li>";
                } else {
                    data.forEach(p => {
                        const li = document.createElement("li");
                        li.className = "list-group-item d-flex justify-content-between align-items-center";
                        li.innerHTML = `
                            <span><strong>ID:</strong> ${p.id} | <strong>Nom:</strong> ${p.nom}</span>
                            <button class="btn btn-sm btn-danger" onclick="deleteParticipant(${p.id})"><span class="bi bi-trash"></span></button>
                        `;
                        resultList.appendChild(li);
                    });
                }

                document.getElementById("searchResults").style.display = "block";
            });
    });

    function deleteParticipant(participantId) {
        if (!confirm("Confirmer la suppression du participant ?")) return;

        fetch(`/delete_participant/${participantId}`, {
            method: "POST"
        }).then(response => {
            if (response.ok) {
                window.location.reload(); // Recharge après suppression
            } else {
                alert("Échec de la suppression.");
            }
        });
    }
    </script>




{% endblock %}
    
