{% extends "base.html" %}
{% block title %} Générer mes attestations {% endblock %}

{% block content %}

<div class="container mt-4" style="max-width: 800px;">
    <h2>Générer les attestations</h2>
    <form method="POST" enctype="multipart/form-data">
        <br>
        <h5>Choisissez un modèle</h5>
        <div class="row">
            {% for modele in modeles %}
            <div class="col-md-4 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radio{{ modele.id }}" value="{{ modele.id }}" {% if loop.first %}checked{% endif %}>
                    <label class="form-check-label" for="radio{{ modele.id }}">
                    <img src="{{ url_for('static', filename=modele.template_png.replace('static/', '')) }}"  alt="aperçu" style="width: 200px; border:1px solid blue;">
                    </label>

                    <!--Visualiser les modeles -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" style="margin-top: 5px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Voir <span class="bi bi-eye"></span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                        <div class="modal-body">
                           <img src="{{ url_for('static', filename=modele.template_png.replace('static/', '')) }}"  alt="aperçu" style="width: 100%; height:500px; border:1px solid blue;">
                        </div>

                        </div>
                    </div>
                    </div>


                </div>
            </div>
            {% endfor %}
        </div>

        <div class="mb-4">
            <label for="formFile" class="form-label">Importer votre Signature</label>
            <input class="form-control" type="file" id="formFile" name="formFile" required>
        </div>

        <div class="mb-4">
            <label for="formFile2" class="form-label">Importer votre Logo</label>
            <input class="form-control" type="file" id="formFile2" name="formFile2" required>
        </div>

        <div class="mb-4">
            <label for="date" class="form-label">Date sur attestation</label>
            <input type="date" class="form-control" name="date" required>
        </div>

        <button type="submit" class="btn btn-primary">Générer maintenant</button>
        <a href="{{ url_for('routes.events', id=evenement.id) }}" class="btn btn-secondary">Annuler</a>
    </form>

    <!-- Loader -->
        <div id="loader" style="display: none; text-align: center; margin-top: 20px;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
            </div>
            <p>Génération en cours, veuillez patienter...</p>
        </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function() {
        document.getElementById('loader').style.display = 'block';
        const submitButton = this.querySelector('button[type="submit"]');
        submitButton.disabled = true;
        submitButton.textContent = 'Veuillez patienter...';
    });
</script>
{% endblock %}
