{% extends "base.html" %} {% block title %} Se Connecter {% endblock %}
    
{% block content %}

    <section id="container">
        <!--<div id="image"></div>-->

        <div id="form">
            <ul class="navtab">
                <li>
                    <a href="/login" class="choice">Se connecter</a>
                    
                </li>
                <li>
                    <a href="/register">Créer un compte</a>
                </li>
            </ul>

            <div class="dividerflex">
                <hr class="divider active">
                <hr class="divider">
            </div>

            <h3 class="title">Connectez-vous</h3>

            <p class="subtitle">Content de vous revoir parmis nous !</p>

            <form action="" method="POST" style="padding:22px; border: 1px solid #cbd6f2; border-radius:10px;">

                <div class="text-field">
                    <span>@</span>
                    <input type="email" name="email" class="input" id="email" placeholder="Email...">
                </div>
                
                <br>

                <div class="text-field">
                    <i class="bi bi-lock"></i>
                    <input type="password" name="mdp" class="input" id="mdp" placeholder="Mot de passe...">
                </div>

                <a href="" class="forgot">Mot de passe oublié ?</a>

                <br><br>

                <input type="submit" class="login-btn" name="submit"  value="Se connecter">
            
            </form>
            
        </div>
    </section>

{% endblock %}
