{% extends "base.html" %} {% block title %} Créer un compte {% endblock %}
    
{% block content %}
    <section id="container">
       <!-- <div id="image"></div>-->

        <div id="form">
            <ul class="navtab">
                <li>
                    <a href="/login" >Se connecter</a>
                    
                </li>
                <li>
                    <a href="/register" class="choice">Créer un compte</a>
                </li>
            </ul>

            <div class="dividerflex">
                <hr class="divider">
                <hr class="divider active">
            </div>

            <h3 class="title">Créer un nouveau compte</h3>

            <p class="subtitle">Saisissez toutes les informations ci-dessous.</p>


            <form action="" method="POST" style="padding:22px; border: 1px solid #cbd6f2; border-radius:10px;">

            
                <div class="text-field">
                    <span class="bi bi-person"></span>
                    <input type="text" name="nom" class="input" id="nom" placeholder="Nom d'utilisateur...">
                </div>
                <br>
        
                <div class="text-field">
                    <span>@</span>
                    <input type="email" name="email" class="input" id="email" placeholder="Email...">
                </div>
                <br>

                <div class="text-field">
                    <i class="bi bi-lock"></i>
                    <input type="password" name="mdp" class="input" id="mdp" placeholder="Mot de passe...">
                </div>

                <br><br>

                <input type="submit" class="login-btn" name="submit"  value="Créer mom compte">

              
            </form>


        </div>
    </section>

{% endblock %}